.avatar-show-img{
    width: 128px;
    height: 128px;
}

.well.profile-block {
    color: #fff;
    h3{
        margin_top: 0;
    }
}

.well.profile-description{
    background-color: #916e6e;
    border-color: #5b4646;
}

.well.profile-contact-info{
    background-color: #5bc0de;
    border-color: 46b8da;
}